<div class="p-2">
  <h1>My tasks</h1>
  <ul style = "list-style-type: none" class="list-group w-25">
    <% @tasks.each do |task| %>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox">
          <%= link_to task.title, task_path(task), class: "text-decoration-none" %>
          <%= link_to "🗑",
            task_path(task),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: "text-decoration-none"
          %>
      </li>
    <% end %>
  </ul>
  <p class="mt-3 border-top">
    <%= link_to "Add a new task", new_task_path, class: "text-decoration-none" %>
  </p>
</div>
